.App {
  display: flex;
}
.ConfigureMenu {
  width: 1024px;
  border: 1px solid red;
  margin: 5px;
  background-color: wheat;
}
.ColorPickerWithSearch {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 45px;
  border: 1px solid red;
}
.ColorPickerWithSearch_options {
  visibility: hidden;
}
.ColorPickerWithSearch_options_active {
  position: absolute;
  right: 0;
  max-height: 200px;
  overflow-y: scroll;
  z-index: 100;
}
.ColorPickerWithSearch_label {
  margin: 5px;
  padding: 5px;
  font-size: small;
}
.ColorPickerWithSearch_input {
  margin: 5px;
  padding: 5px;
}
.colorLine {
  display: flex;
}
.ColorPickerWithSearch_dropdown {
  width: 50%;
  position: relative;
}
