.App {
  display: flex;
  font-size: small;
  align-items:center;
}
.ConfigureMenu {
  width: 1024px;
  border: 1px solid gray;
  margin: 5px;
}
/* .ColorPickerWithSearch {
 
} */
.ColorPickerWithSearch_options {
  visibility: hidden;
}
.ColorPickerWithSearch_options_active {
  position: absolute;
  right: 0;
  max-height: 200px;
  overflow-y: scroll;
  z-index: 100;
}

.ColorPickerWithSearch_input {
  margin: 5px;
}
.displayFlex {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.ColorPickerWithSearch {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: -18px;
}
.ColorPickerWithSearch_dropdown {
  position: relative;
}
.width20percent {
  width: 20%;
}
.width40percent {
  width: 40%;
}
.width26percent {
  width: 26%;
}
.width27percent {
  width: 27%;
}
.inputAndLabel {
  height: 27px;
}
.numInput {
  margin: 5px;
}
.rowEven {
  padding: 5px;
  background-color: rgba(128, 128, 128, 0.466);
}
.rowOdd {
  padding: 5px;
  background-color: rgba(128, 128, 128, 0.151);
}
.dropdown {
  display: flex;
  margin: 5px;
}
